.catalog {
  @extend %grid;
  grid-template-columns: $cardWidth;
  gap: $gap;

  @each $minWidth, $cols in $screenWidth {
    @media (min-width: $minWidth) {
      grid-template-columns: repeat($cols, $cardWidth);
    }
  }

  &__card {
    @extend %grid;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
